# Explore Weather Trends
This a project geared towards analysing local and global temperature data.

## Extracting data with SQL

### Looking at the dataset to understand what it contains

The database contains 3 tables, **city_list**, **city_data** and **global_data**. 
* global_data: Contains the average temperature for each year. Has **2 columns**; **year** and **avg_temp** with about **266 rows**. This data is ordered by **year**.

* city_list: List each city in the database along with their country. Has **2 columns**; **city** and **country** and has **342 cities** in the table.
   
* city_data: List the average temperature of each city in the database from **1743** to **2013**. Has 4 columns; **year**, **city**, **country** and **avg_temp** and about **70792 records**. This data is ordered by **year**.
   
       
* Query: Figuring out hotest cities in the year 2013
    
        SELECT *, RANK() OVER (PARTITION BY year ORDER BY avg_temp DESC) temp_rank
        FROM city_data
        WHERE year = 2013
        LIMIT 5;
            
    * Result: The cities Khartoum (Sudan), Niamey (Niger), Maiduguri (Nigeria) and Ouagadougou (Burkina Faso) has been consistent on the top 5 over the last 5 years.
| year    | city                | country       | avg_temp       | temp_rank     |
|---------|---------------------|---------------|----------------|---------------|
| 2013    | Khartoum            | Sudan         | 30.65          | 1             |
| 2013    | Niamey              | Niger         | 30.42          | 2             |
| 2013    | Maiduguri           | Nigeria       | 29.71          | 3             |
| 2013    | Ouagadougou         | Burkina Faso  | 29.41          | 4             |
| 2013    | Bangkok             | Thailand      | 28.98          | 5             |


* Query: Exporting global temperature from database. *(266 result)*
    
        SELECT *
        FROM global_data;
 
* Query: Finding closest big city to where I live from the city_list table. (I live in Osun state, Nigeria, so I would looking to find Ibadan or Lagos)
    
        SELECT *
        FROM city_list
        WHERE country = 'Nigeria';
        
    * Result: There are 7 Nigerain cities in the database; Abuja, Ibadan, Kaduna, Kano, Lagos, Maiduguri and Port Harcourt. Of the 7, Ibadan is close to Osun state where I live so going with that.
    
    
* Query: Exporting Ibadan, Nigeria, temperatue from the database. *(158 results)*. The city of ibadan seem to have some missing data from **1863 to 1872**

        SELECT year, avg_temp
        FROM city_data
        WHERE country = 'Nigeria' AND city = 'Ibadan';